<!DOCTYPE html>
<html>
<head>
    <title> Pomelo Assignment Page 1 </title>
</head>
<body>
    <h1>Submit Text</h1>
    <form method="POST">
        <input type="text" name="user_input" required>
        <button type="submit">Submit</button>
    </form> 

    <h2>Stored Submissions</h2>
    <table border="1">
        <tr>
            <th>Text</th>
            <th>Submitted At</th>
        </tr>
        {% for row in rows %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
